<h2>Order History</h2>

<% @user.orders.each do |order| %>
  <% order.products.each do |product| %>
    <div class="">
      <div class="img">
        <%= image_tag product.image.url(:thumb) if product.image.exists? %>
        <%= link_to "#{product.name}", product_path(product) %> |
        <strong>Seller: </strong><%= link_to "#{product.user.username}", user_path(product.user) %>
        <% if @user == current_user && !product.review %>
          <%= link_to "(Leave a Review)", new_review_path(:product_id => product.id) %> |
        <% else %>
          <%= link_to "(View Review)", review_path(product.review) %> |
        <% end %>
        <%= number_to_currency(product.price, :unit => "$") %>
      </div>
    </div>
  <% end %>
<% end %>

<h2>Your Market</h2>
  <% @user.products.each do |product| %>
    <% if !product.sold %>
      <div class="column">
        <div class="image-container">
          <div class="img">
            <%= image_tag product.image.url(:preview) if product.image.exists? %>
          </div>
        </div>
        <p><%= link_to "#{product.name}", product_path(product) %></p>
        <p><%= product.size %></p>
        <p><%= number_to_currency(product.price, :unit => "$") %></p>
      </div>
    <% end %>
  <% end %>
