<h1>Order Form</h1>

<%= form_for @order do |f| %>
  <h3>Shipping Address</h3>

  <%= f.fields_for :shipping_informations do |s| %>
    <%= s.text_field :first_name, :placeholder => "First Name" %>
    <%= s.text_field :last_name, :placeholder => "Last Name" %>
    <br>
    <%= s.text_field :street_address, :placeholder => "Street Address" %>
    <%= s.text_field :city, :placeholder => "City" %>
    <br>
    <%= s.text_field :state, :placeholder => "State" %>
    <%= s.number_field :zipcode, :placeholder => "Zip Code" %>
  <% end %>

  <%= f.submit "Place Order" %>
<% end %>
