<h2><%= current_user.username %>'s Account</h2>
<div class="display">
    <%= link_to "Order History", orders_path, :class => "account-tablinks" %>
    <%= link_to "Your Market", user_path(current_user), :class => "account-tablinks" %>
    <%= link_to "Favorites", "/favorites", :class => "account-tablinks" %>
</div>

<br>

<% current_user.orders.each do |order| %>
  <% order.products.each do |product| %>
    <div class="">
      <div class="img">
        <%= image_tag product.image.url(:thumb) if product.image.exists? %>
        <%= link_to "#{product.name}", product_path(product) %> |
        <strong>Seller: </strong><%= link_to "#{product.user.username}", user_path(product.user) %>
        <% if @user == current_user && !product.review %>
          <%= link_to "(Leave a Review)", new_review_path(:product_id => product.id) %> |
        <% else %>
          <%= link_to "(View Review)", review_path(product.review) %> |
        <% end %>
        <%= number_to_currency(product.price, :unit => "$") %>
      </div>
    </div>
  <% end %>
<% end %>
