<h2><%= current_user.username %>'s Orders</h2>
<div class="display">
    <%= link_to "Order History", orders_path, :class => "account-tablinks" %>
    <%= link_to "Your Market", user_path(current_user), :class => "account-tablinks" %>
    <%= link_to "Favorites", "/favorites", :class => "account-tablinks" %>
</div>

<br>

<div class="cart-container">
  <% @orders.each do |order| %>
    <% order.products.each do |product| %>
      <div class="cart-div">
        <span class="cart-left">
          <a href="/orders/<%= order.id %>">
            <%= image_tag product.image.url(:thumb) if product.image.exists? %>
          </a>
        </span>
        <span class="cart-center">
          <%= link_to "#{product.name}", product_path(product), :class => "preview-name" %><br>
          Seller: <%= link_to "#{product.user.username}", user_path(product.user), :class => "seller-name" %><br><br>
          <% if current_user && !product.review %>
            <%= link_to "Leave a Review", new_review_path(:product_id => product.id), :class => "cart-link-buttons" %>
          <% else %>
            <%= link_to "View Review", review_path(product.review), :class => "cart-link-buttons" %>
          <% end %>
        </span>
        <span class="cart-right">
          <strong><%= number_to_currency(product.price, :unit => "$") %></strong>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
