<div class="review-form">
  <%= form_for @review do |f| %>

    <div class="input-container">
      <%= f.hidden_field :product_id, :value => params[:product_id], :class => "review-input" %>
    </div>

    <div id="rating-form">
      <label></label>
    </div>

    <div class="input-container">
      <%= f.label :post, "Write a Review...", :class => "review-input" %>
      <br>
      <%= f.text_area :post, :class => "review-input"%>
    </div>

    <div class="">
      <%= f.submit "Submit", :class => "input-buttons" %>
    </div>

  <% end %>
</div>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
