<h1><%= @review.product.name %></h1>

<div class="review-container">
  <div class="review">
    <div class="review-column-left">
      <div class="review-img">
        <%= image_tag @review.product.image.url(:preview) if @review.product.image.exists? %>
      </div>
    </div>

    <div class="review-column-right">
      <div class="review-post">
        <p class="review-input">Seller: <span class="seller-name"><%= @review.seller.username %></span></p>
        <div class="review-rating" data-score="<%=@review.rating%>">

        </div>
        <div class="input-container">
          <span class="review-input"><%= @review.post %></span>
        </div>
        <%= button_to "Edit", edit_review_path(@review, :product_id => @review.product.id), :method => :get, :class => "input-buttons" %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
