<h2><%= current_user.username %>'s Account</h2>
<div class="display">
    <%= link_to "Order History", orders_path, :class => "account-tablinks" %>
    <%= link_to "Your Market", user_path(current_user), :class => "account-tablinks" %>
    <%= link_to "Favorites", "/favorites", :class => "account-tablinks" %>
</div>

<% if @favorites_list.products.count > 0 %>
  <div class="row">
    <% @favorites_list.products.each do |product| %>
      <% if !product.sold %>
        <div class="column">
          <div class="image-container">
            <div class="img">
              <%= image_tag product.image.url(:preview) if product.image.exists?%>
            </div>
          </div>
          <p><%= link_to "#{product.name}", product_path(product) %></p>
          <p><%= product.size %> | <%= number_to_currency(product.price, :unit => "$") %></p>
          <div class="buttons-left">
            <% if @current_cart.products.include?(@product) %>
              <p><%= button_to "Added to Cart", {}, :disabled => true %></p>
            <% else %>
              <p><%= button_to "Add to Cart", cart_items_path(:product_id => product.id) %></p>
            <% end %>
            <p><%= button_to "Remove", {:controller => "favorited_products", :action => 'destroy', :id => product.id}, :method => :delete %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
