<!DOCTYPE html>
<html>
  <head>
    <title>SneakerIndex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-inverse">
      <h1>The Sneaker Index</h1>
      <nav>
        <% if current_user %>
          <li><%= link_to "Dashboard", user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete%></li>
        <% else %>
          <%= render :partial => 'shared/login', :locals => { :user => @user } %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
