<!DOCTYPE html>
<html>
  <head>
    <title>SneakerIndex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-inverse">
      <h1><%= link_to "#sneakerindex", root_path %></h1>
      <nav>
        <% if current_user %>
          <%= link_to "Marketplace", products_path %>
          <%= link_to "Account", user_path(current_user) %>
          <%= link_to "Favorites", "/favorites" %>
          <%= link_to "Sell", new_product_path %>
          <%= link_to "Cart", cart_path(@current_cart) %>
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", login_path %>
          <%= link_to "Sign Up", new_user_path %>
          <%# render :partial => 'sessions/new', :locals => { :user => @user } %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
